<div class="container mt4">
  <h1 class="text-center mb-4"> Gerenciamento De Pessoas</h1>

  <!-- Lista de Pessoas -->
  <div class="mb-4">
    <h2>Lista de Pessoas</h2>
    <ul class="list-group">
      <li *ngFor="let pessoa of listaPessoas$ | async" class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ pessoa.nome }}</span>
        
      </li>
    </ul>
  </div>

   <!-- Adicionar Pessoa -->
   <div class="mb-4">
    <h2>Adicionar Nova Pessoa</h2>
    <div class="input-group">
      <input 
        type="text" 
        class="form-control" 
        [(ngModel)]="nomeAdicionar" 
        placeholder="Nome da pessoa">
      <button class="btn btn-success" (click)="adicionarPessoa()">Adicionar</button>
    </div>
  </div>

  <!-- Buscar Pessoa -->
  <div class="mb-4">
    <h2>Buscar Pessoa</h2>
    <div class="input-group">
      <input 
        type="text" 
        class="form-control" 
        [(ngModel)]="nomeBusca"
        placeholder="Nome da Pessoa">
      <button class="btn btn-success" (click)="obterPessoaEspecifica()">Buscar</button>
    </div>
    <p *ngIf="pessoaEncontrada$ | async as pessoa" class="mt-2">Resultado: {{ pessoa.nome }}</p>
  </div>
</div>


